@charset "ISO-8859-1";

body{
	text-align:center;
	background-color: #f2f2f2;
	font-family: 'Poppins', sans-serif;
	margin:0;
	background-image: url('../css/art-background-blank-951240.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
a{
	text-decoration: none;
	color:black;
}

a:hover {
	color:grey;
}

nav{
	display:flex;
	height:50px;
	background-color: white;
	margin:0;
	
}
nav p{
	color:black
}

nav form{
		display: inline-block;
		margin-left:auto;
	
}

ul{
	padding:0;
	
}

li{
	list-style-type:none;
}

table{
	border-radius:10px;
	border-collapse:collapse;
	-webkit-box-shadow:0 0 20px grey;
	margin: 0 auto;	
	padding: 10px;
	
	
}


tr:nth-child(even){background-color: #f2f2f2;}

td,th {
  border: 1px solid #ddd;
  text-align:left;
  padding: 8px;
  
}


nav ul{
	display: flex;
}

nav li{
	font-size: 1.2em;
	padding-left: 30px;
}


.logout-button{
	margin-left: auto;

}





.competition-list{
	font-size: 0.8em;
}

#login-page{
	height: 100vh;
	width:100%;
	background-image: url('../css/art-background-blank-951240.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#login{
	margin: 0 auto;

}

.login{
	margin-top: 100px;
	display: inline-block;
	padding: 50px;
	border: 3px solid black;
	background-color: white;
	border-radius: 10px;
	min-width: 300px;
}

#login label{
margin-right: auto}

#login input{
	margin-left:auto;
	padding:6px;
	border-radius: 5px;
	border:1px solid black;
	background-color:#f2f2f2;
		
}
input[type="text"]
{
    font-size:0.8em;
}
input[type="password"]
{
    font-size:0.8em;
}

#login input:hover{
	background-color:#DDDDDD;
}

.input-row{
	padding:10px;
	font-size:1.5em;
	font-weight:bold;
}

.login-button{
	background-color: rgb(50, 255, 50)!important;
	padding:13px 8px!important;
	border-radius: 7px!important;
}

.logout-button-style{
	font-size:1em;	
	border: none;
	background-color: white;
}
.logout-button-style:hover{
	color: grey;
}


.goals-column{
	margin-top:150px;
	margin-left:10%;
	
}

.competition-column{
	margin-top:150px;
	padding-right:10px;
}

.goals{
	list-style-type:none;
	padding: 50px 0px;	
	-webkit-box-shadow:0 0 20px grey;
	
}

.goal{
	border: 1px solid gold;
	margin: 5px;
	padding: 7px 0px;
	background-color:gold;
	font-size:1.2em
}





.column{
	width:100%;
	display:flex;
	
}

.column-50{
	width:48%;
	margin: 0px 3%;
	padding-top:100px;
	background-color:white
	
	}
.column-25{
	width:23%;
	
	
}














.center{
margin: 0 auto;
}





.add-training-box{
		margin-top:100px;
	
}

#add-training{
	display: flex;
	flex-direction: column;
	width:100%;
}

.add-training-field{
	display:flex;
	width:400px;
	padding:10px;
}

#add-training label{
	margin-right: auto
	
}
#add-training input, select{
	padding: 3px;
	border: 2px solid grey;
	border-radius:4px;
	
}

.add-training-submit{
	border:none!important;
	background-color:white;
}
.training-button{
	text-decoration:none;
	font-size:1.25em;
	color:black;
	padding:5px 10px 5px 10px!important;
}

.training-button:hover{
	background-color: #DDDDDD;
	border-radius: 5px;
}


.trainings-box, .add-training-box{
	display: inline-block;
	background-color:white;
	padding: 50px;
	border-radius: 10px;
	
	}
	
	
	
.border-top{
	border-top: 2px solid black;
	margin-top: 20px;
}





.trainings-all{
	text-align: center;
}




.description{
	max-width:300px;
	text-align:justify
}


footer{
	background-color:white;
	margin-top: 100px;
}

footer p{
	display: inline-block;
}


