<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<script type="text/javascript" th:src="@{/javascript/javascript.js}"></script>
<title>Kilpailu</title>
</head>
<body>

<nav>
	<ul>
		<li><a href="/trainings">Koti</a></li>
		<li><a  sec:authorize="hasAuthority('ATHLETE')" href="/addtraining">Harjoitukset</a></li>
		<li><a  sec:authorize="hasAuthority('ATHLETE')"  href="/goals">Tavoitteet</a></li>
		<li><a  sec:authorize="hasAuthority('COACH')" href="/competitions">Kisat</a></li>
				
	</ul>
	
	<ul class="logout-button">
		<li>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Kirjaudu ulos" class="logout-button-style"/>
			</form>
		</li>
	</ul>	
</nav>


	<h1>Lisää uusi kilpailu</h1>
	
	<form id="add-competition" action="#" th:action="@{/competitions}" th:object=${competition} method="post">
		<div>
		
		
		
			<label>Nimi</label>
			<input type="text" th:field="${competition.name}">
			<label>Paikka</label>
			<input type="text" th:field="${competition.place}">
			<label>Ajankohta</label>
			<input type="date" th:field="${competition.date}">
			<label>Matka(t)</label>
			<input type="text" th:field="${competition.event}">
			
			
			
						<input class="add-training-submit training-button" type="submit" value="Lisää" /> <a class="training-button" href="/trainings">Peruuta</a>
		</div>
		
	</form>
	
	<div class="competition-column">
	<h2>Muokkaa kilpailuja</h2>
	
		<ul>
			<li>
				<div>
					<table class="competition-list">
						<tr>
							<th>Nimi</th>
							<th>Paikka</th>
							<th>Pvm</th>
							<th>Lajit</th>
						</tr>
						<tr th:each="competition : ${competitions}">
							<th th:text="${competition.name}"></th>
							<th th:text="${competition.place}"></th>
							<th th:text="${competition.date}"></th>
							<th th:text="${competition.event}"></th>
						<td sec:authorize="hasAuthority('COACH')"><a th:href="@{/deletecompetition/{id}(id=${competition.competitionId})}" class="btn btn-danger">Poista</a></td>
							
						</tr>				
					</table>
				</div>
			 </li>
		</ul>
	
</div>

	

<footer>
	<p>Copyright @ Oskari Lehtonen</p>
</footer>

</body>
</html>