<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    </head>
    <body>
 
 <div class="login-page">
<div id="newuser">
	<div class="login"> 
   <form action="#" th:action="@{/newuser}" th:object=${user} method="post">
   
	<div>
		<h1 style="margin-bottom:40px" class="center">Syötä tietosi</h1>
		<div class="input-row">
			<label>Käyttäjänimi:</label>
			<input type="text" th:field="${user.username}">
		</div>
		<div class="input-row">
			<label>Seura:</label>
			<input type="text" th:field="${user.club}">
		</div>
		<div class="input-row">
			<label>Sähköposti:</label>
			<input type="text" th:field="${user.email}">
		</div>
	
		
		<div class="input-row">
				<label>Salasana:</label>
				<input type="password" th:field="${user.passwordHash}">
		</div>
		
		
		<div class="input-row">
		<label>Rooli:</label>
		<select  th:field="${user.role}" class="form-control">
			<option value="ATHLETE">Urheilija</option>
			<option value="COACH">Valmentaja</option>
		</select>
		</div>
		
		<div class="flex">
				<input class="login-button" style="margin:0 auto; margin-top:20px; padding:0px 20px"  type="submit" value="Lisää" />
				 <a class="registration-button" href="/login">Peruuta</a>
				</div>
		</div>
		</form>
       </div>
       </div>
       </div>
       
       
       
    </body>
</html>