<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Files</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

</head>
<body>
<nav>
	<ul>
		<li><a href="/trainings">Koti</a></li>
		<li><a  sec:authorize="hasAuthority('ATHLETE')" href="/addtraining">Harjoitukset</a></li>
		<li><a  sec:authorize="hasAuthority('ATHLETE')"  href="/goals">Tavoitteet</a></li>
		<li><a  sec:authorize="hasAuthority('COACH')" href="/competitions">Kisat</a></li>
				
	</ul>
	
	<ul class="logout-button">
		<li>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Kirjaudu ulos" class="logout-button-style"/>
			</form>
		</li>
	</ul>	
</nav>
	<h1>Harjoitusohjelmat</h1>
    <table>
		<tr>
		    <th>Name</th>
		    <th>Type</th>
		</tr>  
    	<tr th:each = "file : ${files}">
    		<td th:text="${file.fileName}"></td>
    		<td th:text="${file.mimeType}"></td>
 				<td><a th:href="@{/file/{id}(id=${file.id})}">Lataa</a></td>    		
    	</tr>
     </table>
	 <a href="/upload">Lisää harjoitushjelma</a>    	
</body>
</html>