<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Trainings</title>
</head>
<body>

<nav>
		<p>Trainingapp</p>

				<a  sec:authorize="hasAuthority('ATHLETE')" class="training-button" href="/goals">Tavoitteet</a>
				<a  sec:authorize="hasAuthority('COACH')" class="training-button" href="/competitions">Kisat</a>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="logout-button"/>
		</form>
		
</nav>

<div class="column">
<div class="column-25">

<div class="goals-column"> 
	
	<h1>Tavoitteet</h1>
	
	
		
				<ul class="goals">
					<li class="goal" th:each= "goal : ${goals}" ><a th:text="${goal.name}" th:href="@{/deletegoal/{id}(id=${goal.goalId})}"></a></li>
				</ul>
	
	
</div>
</div>

<div class="column-50">
<div class="trainings-all">
	<div class="trainings-box">
			<div>
				
			</div>
			<h1 sec:authorize="hasAuthority('ATHLETE')">Sinun harjoitukset</h1>
			<h1 sec:authorize="hasAuthority('COACH')">Oskarin harjoitukset</h1>
			
			<div>
				<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
			</div>
			
			<table class="table">
				<tr>
					<th>Pvm</th>
					<th>Kategoria</th>
					<th>Kesto (min)</th>
					<th>Kuvaus</th>
				</tr>
				
				<tr th:each="training : ${trainings}">
					<td th:text="${training.date}"></td>
					<td th:text="${training.category.name}"></td>
					<td th:text="${training.duration}"></td>
					<td class ="description" th:text="${training.description}"></td>
					<td sec:authorize="hasAuthority('ATHLETE')"><a th:href="@{/deletetraining/{id}(id=${training.trainingId})}" class="btn btn-danger">Poista</a></td>
					
				</tr>
			</table><br/>
			
				<div class="border-top">
				<div style="margin-top:30px;">
				<a class="training-button" href="/addtraining">Lisää harjoitus</a>
				</div>
				</div>
			</div>
</div>
</div>
<div class="column-25">

	<ul>
		<li th:each="competition : ${competitions}">
			<div>
				<table>
					<tr>
						<th>Nimi</th>
						<th>Paikka</th>
						<th>Pvm</th>
						<th>Lajit</th>
					</tr>
					<tr>
						<th><a th:text="${competition.name}"></a></th>
						<th><a th:text="${competition.place}"></a></th>
						<th><a th:text="${competition.date}"></a></th>
						<th><a th:text="${competition.event}"></a></th>
					</tr>				
				</table>
			</div>
		 </li>
	</ul>

</div>
</div>

<footer>
	<p>Copyright @ Oskari Lehtonen</p>
</footer>

</body>
</html>