<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Trainings</title>
</head>
<body>

<nav>
	<ul>
		<li><a href="/trainings">Koti</a></li>
		<li><a  sec:authorize="hasAuthority('ATHLETE')" href="/addtraining">Harjoitukset</a></li>
		<li><a  sec:authorize="hasAuthority('ATHLETE')"  href="/goals">Tavoitteet</a></li>
		<li><a  sec:authorize="hasAuthority('COACH')" href="/competitions">Kisat</a></li>
		<li><a href="/harjoitusohjelmat">Harjoitusohjelmat</a></li>
				
	</ul>
	
	<ul class="logout-button">
		<li>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Kirjaudu ulos" class="logout-button-style"/>
			</form>
		</li>
	</ul>	
</nav>

<div class="column">
<div class="column-25">

<div class="goals-column"> 
<h2 class="center">Tavoitteet</h2>


	<div class="center">		
		<ul class="goals">
			<li class="goal" th:each= "goal : ${goals}" ><a th:text="${goal.name}" th:href="@{/deletegoal/{id}(id=${goal.goalId})}"></a></li>
		</ul>
	</div>
	
</div>
</div>

<div class="column-50">
<div class="trainings-all">
	<div class="trainings-box">
			<div>
				
			</div>
			<h1 sec:authorize="hasAuthority('ATHLETE')">Sinun harjoitukset</h1>
			<h1 sec:authorize="hasAuthority('COACH')">Oskarin harjoitukset</h1>
			
			<div>
				<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
			</div>
			
			<table class="table">
				<tr>
					<th>Pvm</th>
					<th>Kategoria</th>
					<th>Kesto (min)</th>
					<th>Kuvaus</th>
				</tr>
				
				<tr th:each="training : ${trainings}">
					<td th:text="${training.date}"></td>
					<td th:text="${training.category.name}"></td>
					<td th:text="${training.duration}"></td>
					<td class ="description" th:text="${training.description}"></td>
					
				</tr>
			</table><br/>
			
				<div class="border-top">
				<div style="margin-top:30px;">
				<a sec:authorize="hasAuthority('ATHLETE')" class="training-button" href="/addtraining">Lisää harjoitus</a>
				</div>
				</div>
			</div>
</div>
</div>
<div class="column-25">

<div class="competition-column">
	<h2 class="center">Tulevat kilpailut</h2>
	
		<ul>
			<li>
				<div>
					<table class="competition-list">
						<tr>
							<th>Nimi</th>
							<th>Paikka</th>
							<th>Pvm</th>
							<th>Lajit</th>
						</tr>
						<tr th:each="competition : ${competitions}">
							<th th:text="${competition.name}"></th>
							<th th:text="${competition.place}"></th>
							<th th:text="${competition.date}"></th>
							<th th:text="${competition.event}"></th>
						</tr>				
					</table>
				</div>
			 </li>
		</ul>
	
</div>

</div>
</div>

<footer>
	<p>Copyright @ Oskari Lehtonen</p>
</footer>

</body>
</html>